@import '_montserrat.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$font-family: 'Montserrat';
html{
    height: 100%;
    font-family: $font-family;
    
    scroll-behavior: smooth;
    
}

body{
  background: #22033A;
}
main{
  min-height: 100vh;
  width: 100%;
  

  @media( max-width: 992px){
    display: flex;
    flex-direction: column;
  }
}

a{
  text-decoration: none;
  outline: none;
}
button{
  outline: none;
  font-family: $font-family;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
ul{
  list-style: none;
}

.sidebar{
  height: 100vh;
  min-height: 590px;
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  @media( max-width: 992px){
    position: static;
    width: 100%;
    height: 80px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 16px;
  }

  @media (max-width: 480px){
    height: 60px;
    min-height: 60px;
    padding: 0 20px;
  }
}

.sidebar__hamburger{
  width: 40px;
  border: solid 3px #521483;
  border-left: 0;  
  border-right: 0;
  height: 12px;
  margin: 0 auto 0;
  cursor: pointer;
  @media (max-width: 992px){
    width: 30px;
  }
}

.content{
  width: 80%;
  margin-left: 20%;



  @media (max-width: 992px){
    width: 100%;
    margin-left: 0%;
  }
}

.hero{
  padding: 60px 0 75px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.hero__img{
  max-width: 100%;
  object-fit: contain;
  position: relative;
  width: 100%;
  margin-top: -170px;
  left: 0;
  z-index: 1;
  top: 50%;

  @media (max-width: 1366px){
    margin-top: -100px;
  }
  @media (max-width: 1024px){
    margin-top: -50px;
  }

  @media (max-width: 680px){
    min-width: 600px;
    margin-top: 0px;
  }
}

.hero__text-block{
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding:  0 100px;

  @media (max-width: 1366px){
    padding:  0 35px 0 65px;
  }

  @media (max-width: 768px){
    padding:  0 30px 0 30px;
  }
  @media (max-width: 680px){
    flex-direction: column;
    position: relative;
  }
}

.hero__right-text{
  max-width: 370px;
  margin-right: 75px;
  p{
    
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;

    /* or 156% */

    color: #FFFFFF;
  }

  @media (max-width: 1600px){
    margin-right: 0px;
    margin-left: 35px;
  }
  
  @media (max-width: 1366px){
    max-width: 275px;
    p{
      font-size: 14px;
    }
  }
  @media (max-width: 680px){
    margin-left: 0;
    margin-top: 25px;
  }
  @media (max-width: 680px){
    p{
      font-size: 13px;
    }
  }
}
h1{  
  font-weight: bold;
  font-size: 32px;
  line-height: 1.31;


  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #FFFFFF;

  @media (max-width: 1366px){
    font-size: 22px;
  }

  @media (max-width: 480px){
    font-size: 18px;
  }
}

.hero__view-block{
  padding: 0 100px;

  @media (max-width: 1366px){
    padding: 0 65px;
  }

  @media (max-width: 768px){
    padding: 0 30px;
  }
  @media (max-width: 480px){
    padding: 0 20px;
  }
}
.hero__view-text{
  
  font-weight: 600;
  font-size: 32px;
  line-height: 1.31;


  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #FFFFFF;

  margin-top: 150px;

  @media (max-width: 1366px){
    font-size: 22px;
    margin-top: 75px;
    
  }

  @media (max-width: 480px){
    font-size: 18px;
    margin-top: 35px;
  }
}

.hero__target-text{

  font-weight: 600;
  font-size: 32px;
  line-height: 1.31;

  /* or 131% */
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #FFFFFF;

  margin-top: 130px;

  @media (max-width: 1366px){
    font-size: 22px;
    margin-top: 65px;
    
  }
  @media (max-width: 1366px){
    margin-top: 45px;
  }
  @media (max-width: 480px){
    font-size: 18px;
    margin-top: 25px;
  }
}


.hero__star{
  position: absolute;
  bottom: -60px;
  right: -15px;

  @media (max-width: 1366px){
    width: 244px;
  }

  @media (max-width: 992px){
    display: none;
  }
}

.btn-begin{
  width: 215px;
  height: 56px;
  background: #8CFB35;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;


  display: flex;
  align-items: center;
  text-align: center;

  color: #22033A;
  transition: .5s;

  &:hover{
    background-color: #F72283;
    color: #fff;
  }
  @media (max-width: 1366px){
    width: 155px;
    height: 40px;
    font-size: 12px;
  }
  @media (max-width: 680px){
    position: absolute;
    bottom: 0;
    transform:translateY(160%);
  }
  @media (max-width: 480px){
    width: 130px;
    height: 35px;
  }

}
.logo{
  display: flex;
  justify-content: center;
  height: 25%;
  padding-top: 40px;

  @media (max-width: 992px){
    padding-top: 0;
    height: auto;
    img{
      width: 148px;
      height: 80px;
    }
  }

  @media (max-width: 480px){
    img{
      width: 110px;
      height: 60px;
    }
  }
}
.logo-link{

}


.platform-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 42%;

  a{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    align-items: flex-end;
    text-align: center;

    @media (max-width: 1024px){
      font-size: 16px;
    }
  }


  @media (max-width: 992px){
    display: none;
  }
}

.sidebar__btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-btn{
  width: 160px;
  height: 58px;
  display: flex;
  justify-content: center;
  
  position: relative;

  &:hover{
    .join-btn__right-svg{
      right: -10px;
    }
    
    .join-btn__left-svg{
      left: -10px;
    }
  }
  svg{

    transition: .4s;
    position: absolute;

    &:nth-of-type(1){
      left: 0;
    }
    &:nth-of-type(1){
      right: 0;
    }

    @media (max-width: 992px){
      width: 31px;
      height: 40px;
    }

    @media (max-width: 480px){
      width: 23px;
      height: 35px;
    }
    
  }
  
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #521483;

  @media (max-width: 992px){
    width: 126px;
    height: 40px;
    font-size: 12px;
  }

  @media (max-width: 480px){
    width: 100px;
    height: 35px;
  }
}
.join-btn__right-svg{
  right: 0;
}

.join-btn__left-svg{
  left: 0;
}

.social-gr--outer{
  display: flex;
  height: 19%;
  justify-content: center;

  @media (max-width: 992px){
    display: none;
  }
}

.social-gr{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  

  a{
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #DBE0FF;

    &:last-of-type{
      border-right: 1px solid #DBE0FF;
    }
  }


}

.target-audience{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 450px;
  grid-gap: 4px;
  position: relative;
  z-index: 2;

  @media (max-width: 1600px){
    grid-auto-rows: 350px;
  }
  @media (max-width: 1600px){
    grid-auto-rows: 300px;
  }

  @media (max-width: 1024px){
    grid-auto-rows: 240px;
  }

  @media (max-width: 992px){
    grid-auto-rows: 280px;
  }

  @media (max-width: 800px){
    grid-auto-rows: 240px;
  }

  @media (max-width: 700px){
    grid-template-columns: 280px;
    grid-auto-rows: 240px;
    justify-content: center;
  }
}

.target-audience__item{
  background-size: cover;
  background-repeat: no-repeat;
  padding: 78px 0 0 94px;
  @media (max-width: 1600px){
    padding: 34px 16px 0 34px;
  }
  p{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;    
    color: #22033A;
  }
  @media (max-width: 1366px){
    p{
      font-size: 20px;
    }
  }
  @media (max-width: 1024px){
    p{
      font-size: 16px;
    }
  }
}

.target-audience__item-1{
  background-image: url('../img/1.jpg');
}

.target-audience__item-2{
  background-image: url('../img/2.jpg');
}

.target-audience__item-3{
  background-image: url('../img/3.jpg');
}


.you-get{
  padding: 180px 100px 80px;

  @media (max-width: 1366px){
    padding: 180px 65px 80px;
  }
  @media (max-width: 1024px){
    padding: 100px 65px 80px;
  }
  @media (max-width: 768px){
    padding: 70px 30px 80px;
  }
  @media (max-width: 480px){
    padding: 70px 20px 80px;
  }
}

.you-get__items{
  display: flex;
  margin-top: 40px;
  @media (max-width: 1024px){
    margin-top: 25px;
  }
  @media (max-width: 680px){
    flex-wrap: wrap;
  }
}

.you-get__item{
  width: 25%;
  position: relative;
  &:not(:first-of-type){
    padding-left: 55px;
    @media (max-width: 1600px){
      padding-left: 35px;
    }
    @media (max-width: 1500px){
      padding-left: 20px;
    }
    &::after{
      content: "";
      position: absolute;
      width: 1px;
      height: 95px;
      background-color: #fff;
      transform: rotate(26deg);
      left: -19%;
      top: 15%;
    }

    @media (max-width: 1300px){
      &::after{
        left: -10%;
        top: 5%;
      }
      
    }
    @media (max-width: 1024px){
      &::after{
        
        height: 65px;
        left: -7%;
        top: 15%;
      }
      
    }

    
  }

  


  @media (max-width: 680px){
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-of-type(3){
      &::after{
        display: none;
      }
    }

    &:nth-of-type(3){
      &::after{
        display: none;
      }
    }
  }
    
  
}

.you-get__item-num{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    
    @media(max-width: 1700px){
      font-size: 100px;
    }
    @media(max-width: 1600px){
      font-size: 90px;
    }
    @media(max-width: 1300px){
      font-size: 80px;
    }

    @media(max-width: 1024px){
      font-size: 76px;
    }

    @media(max-width: 680px){
      font-size: 64px;
    }
    letter-spacing: 0.05em;
    text-transform: uppercase;

/* pink */
  color: #F72283;


}

.you-get__item-text{
  
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;

  @media (max-width: 1024px){
    font-size: 14px;
  }


  @media (max-width: 680px){
    font-size: 12px;
  }
}

.t-center{
  text-align: center;
}

.t-right{
  text-align: right;
}

.title{
  font-weight: 600;
  font-size: 32px;
  line-height: 1.31;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #FFF;

  @media (max-width: 1366px){
    font-size: 22px;
  }
  @media (max-width: 480px){
    font-size: 18px;
  }
}

.our-programm{
  padding: 200px 100px;
  position: relative;

  @media (max-width: 1366px){
    padding: 200px 65px;
  }

  @media (max-width: 1024px){
    padding: 80px 65px 80px;
  }

  @media (max-width: 768px){
    padding: 80px 30px;
  }

  @media (max-width: 480px){
    padding: 80px 20px;
  }
}

.our-programm__title{
  margin-bottom: 60px;

  @media (max-width: 480px){
    margin-bottom: 40px;
  }
}

.our-programm__img{
  position: absolute;
  top: -70px;
  right: 0;


  @media (max-width: 1366px){
    width: 235px;
  }

  @media (max-width: 680px){
    display: none;
  }
}

.faq{
  padding: 60px 100px;

  @media (max-width: 1366px){
    padding: 60px 65px;
  }
  @media (max-width: 768px){
    padding: 60px 30px;
  }
  @media (max-width: 480px){
    padding: 60px 20px;
  }
}

.faq__title-block{
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;


  @media (max-width: 480px){
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    .title{
      margin-bottom: 20px;
    }
  }
}



.half-round-btn{
  width: 217px;
  height: 58px;
  display: flex;
  justify-content: center;
  position: relative;
  svg{
    position: absolute;
    transition: .5s;
    &:nth-of-type(1){
      left: 0;
    }
    &:nth-of-type(1){
      right: 0;
    }
  }
  &:hover{
    .half-round-btn__left-svg{
      left: -10px;
    }
    .half-round-btn__right-svg{
      right: -10px;
    }
  }
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #521483;


  @media (max-width: 1024px){
    width: 194px;
    height: 40px;
    font-size: 12px;
  }
  @media (max-width: 480px){
    width: 144px;
    height: 35px;
    font-size: 12px;
  }

}
.half-round-btn__right-svg{
  right: 0;
  @media (max-width: 1024px){
    width: 31px;
    height: 40px;
  }

  @media (max-width: 480px){
    width: 28px;
    height: 35px;
  }
}

.half-round-btn__left-svg{
  left: 0;

  @media (max-width: 1024px){
    width: 31px;
    height: 40px;
  }

  @media (max-width: 480px){
    width: 28px;
    height: 35px;
  }
}

.half-round-btn--green{
  color: #8CFB35;
}

.reviews{
  padding: 110px 100px 40px;
  overflow: hidden;


  @media (max-width: 1366px){
    
    padding: 110px 65px 40px;
  }

  @media (max-width: 1024px){
    padding: 10px 65px 40px;
  }
  @media (max-width: 768px){
    padding: 10px 30px 40px;
  }
  @media (max-width: 480px){
    padding: 10px 20px 40px;
  }
}
.reviews__list{
  margin: 0 -5px;
}
.reviews__item{
  width: 665px;
  min-width: 665px;
  background-color: #3A2050;
  padding: 52px 26px 45px 57px;
  display: flex;
  align-items: flex-start;
  margin: 0 5px;
  @media (max-width: 1024px){
    padding: 30px 26px 35px 35px;
    width: 560px;
    min-width: 560px;
  }
  @media (max-width: 600px){
    width: calc(100vw - 50px);
    min-width: calc(100vw - 50px);
    flex-direction: column;
    
  }

  @media (max-width: 480px){
    padding: 15px 26px 35px 20px;
  }
}

.reviews__item--img{
  margin-top: 10px;

  @media (max-width: 1024px){
    img{
      width: 94px;
      height: 115px;
    }
    
  }

  @media (max-width: 680px){
    img{
      width: 54px;
      height: 66px;
    }
  }
}
.reviews__text-block{
  margin-left: 59px;
  @media (max-width: 1024px){
    margin-left: 40px;
  }

  @media (max-width: 600px){
    margin-left: 0px;
  }
}
.reviews__author{
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #F72283;

  @media (max-width: 1024px){
    font-size: 16px;
  }
}

.reviews__text{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  /* or 171% */

  color: rgba(255, 255, 255, 0.8);

  @media (max-width: 1024px){
    font-size: 12px;
  }

}

.reviews__link{
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  margin-top: 25px;
  transition: .5s;


  &:hover{
    color: #F72283;
  }

  /* or 157% */
  text-decoration-line: underline;

  /* light purple */
  color: #D1D8FF;

  @media (max-width: 1024px){
    font-size: 12px;
  }

}

.reviews-swiper{
  .swiper-wrapper{
    display: flex;
  } 
}
.swiper-btn{
  cursor: pointer;

  svg{
    transition: .5s;
  }
  

  &:hover{
    path{
      fill:#8CFB35;
    }
    
  }
}

.reviews__prev{
  margin-right: 27px;

  @media (max-width: 600px){
    width: 33px;
  }
}
.reviews__next{
  transform: rotate(180deg);
  @media (max-width: 600px){
    width: 33px;
  }
}

.swiper-button-disabled{
  opacity: .5;
  
}

.slider-navs{
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;

  @media (max-width: 600px){
    margin-top: 0px;
    justify-content: flex-start;
    margin: 20px 0;
  }
}

.reviews-swiper-wrapper{
  
  margin: 50px -5px 0;
  @media (max-width: 600px){
    
    margin-top: 0px;
  }
}

.review-btn{
  margin-top: 50px;
  color: #D1D8FF;
}
.coach{
  padding-bottom: 120px;
  overflow: hidden;

  @media (max-width: 1024px){
    padding-bottom: 60px;
  }
}
.coach__title-block{
  padding: 0 100px;

  @media (max-width: 992px){
    padding: 0 30px;
  }
}

.coach__content-block{
  display: flex;

  @media (max-width: 1366px){
    margin-top: 40px;

    align-items: flex-start;
  }

  @media (max-width: 748px){
    position: relative;
  }
}

.coach__about-coach{
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 65px;
  padding-right: 100px;

  @media (max-width: 1366px){
    padding-right: 65px;
    margin-left: 45px;
  }
  @media (max-width: 992px){
    padding-right: 30px;
  }

  @media (max-width: 480px){
    margin-left: 20px;
    padding-right: 20px;
  }
}

.coach__about-coach--inner{
  width: 100%;
  border: 1px solid #D1D8FF;
  border-left: 0;
  border-right: 0;
  padding: 45px 0 71px 100px;

  @media (max-width: 1366px){
    padding: 45px 0 71px 0px;
  }
  @media (max-width: 768px){
    padding: 20px 0 71px 0px;
  }
  
}
.coach__about-list{
  @media (max-width: 1366px){
    margin-left: 35px;
  }
}
.coach__name-block{
  display: flex;
  justify-content: space-between;
  align-items: center;

  
}

.coach__name{

  font-weight: 500;
  font-size: 28px;
  line-height: 28px;

  /* or 100% */
  display: flex;
  align-items: center;
  text-transform: uppercase;

  /* pink */
  color: #F72283;

  @media (max-width: 1366px){
    font-size: 20px;
  }
  @media (max-width: 480px){
    font-size: 18px;
  }
}

.coach__btn{
  margin-top: 0;
}

.coach__about-item{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;

  margin-top: 20px;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('../img/triangle.svg');
    background-repeat: no-repeat;
    left: -35px;
    top: 5px;
  }

  @media (max-width: 1366px){
    font-size: 14px;
  }
  @media (max-width: 480px){
    font-size: 12px;
  }
}

.coach__img{
  transform: translateY(30px);

  @media(max-width: 1900px){
    width: 28.2vw;
  
  }

  @media (max-width: 748px){
    width: 153px;
    position: absolute;
    bottom: 0;
    transform: translateY(66%);
  }
}

.price-plan{
  padding: 60px 100px 300px;
  overflow: hidden;

  background-image: url('../img/price-plan-img.png');
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1366px){
    padding: 60px 65px 300px;
  }

  @media (max-width: 1024px){
    padding: 60px 65px 75px;
  }

  @media (max-width: 768px){
    padding: 60px 30px 75px;
  }
  @media (max-width: 480px){
    padding: 60px 20px 75px;
  }
}

.swiper-price-plan{
  margin-top: 70px;
  @media (max-width: 1024px){
    margin-top: 40px;
  }
}
.price-plan__list{
  display: flex;

  

  position: relative;
  z-index: 1;
}

.price-plan__item{
  width: 445px;
  min-width: 400px;
  margin: 0 2.5px;

  @media (max-width: 1024px){
    width: 310px;
    min-width: 310px;
  }

  @media (max-width: 480px){
    width: 256px;
    min-width: 256px;
  }
}

.price-plan__header{
  padding: 25px 25px 35px;

  @media (max-width: 1024px){
    padding: 20px 17px 17px;
  }
}

.base-plan{
  background-color: #FB9646;
}

.advanced-plan{
  background-color: #F72283;
}

.max-plan{
  background-color: #521483
}

.price-plan__about-package{
  display: flex;
  justify-content: space-between;
}

.price-plan__type{ 
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;


  color: #FFFFFF;
  @media (max-width: 1024px){
    font-size: 12px;
  }
}
.price-plan__about-package{
  margin-top: 50px;
  @media (max-width: 1024px){
    margin-top: 35px;
  }
}
.price-plan__package-name, .price-plan__package-price{  
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  color: #FFFFFF;

  @media (max-width: 1024px){
    font-size: 20px;
  }

  @media (max-width: 480px){
    font-size: 18px;
  }
}

.price-plan__package-price{
  font-size: 24px;
  @media (max-width: 1024px){
    font-size: 18px;
  }
  @media (max-width: 480px){
    font-size: 16px;
  }
}

.price-plan__body{
  background-color: #fff;
  padding: 35px 30px 44px 47px;
  margin-top: 5px;

  @media (max-width: 1024px){
    margin-top: 1px;

    padding: 35px 15px 44px 27px;
  }
  @media (max-width: 480px){
    margin-top: 1px;

    padding: 20px 15px 25px 27px;
  }
}

.price-plan__include-list{
  padding-left: 37px;
  max-height: 330px;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: #521483 #e0e0e0;

  @media (max-width: 1024px){
    max-height: 230px;
  }
  @media (max-width: 480px){
    max-height: 200px;
  }
}

.price-plan__include-item{
  margin-top: 5px;  
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;

  @media (max-width: 1024px){
    font-size: 12px;
    line-height: 1.25;
  }

  color: #000000;


  
  position: relative;
  
  
  &::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: -40px;
  }


}

.package-include{
  &::before{
    background-image: url('../img/include.svg');
  }
}
.package-execlude{

  color: #8B8B8B;
  &::before{
    background-image: url('../img/execlude.svg');
  }
}

.btn-request{
  
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  margin: 40px auto 0;
  position: relative;
  border-radius: 100px;
  svg{
    position: absolute;

    &:nth-of-type(1){
      left: 0;
    }
    &:nth-of-type(1){
      right: 0;
    }
  }
  
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #521483;
  transition: .5s;
  svg{
    transition: .2s;
  }
  &:hover{
    background-color: #8CFB35;
    color: #22033A;

    svg{
      opacity: 0;
    }
  }

  @media (max-width: 1024px){
    height: 40px;
    margin: 20px auto 0;
    font-size: 12px;
    .join-btn__left-svg, .join-btn__right-svg{
      width: 31px;
      height: 40px;
    }
  }
  
}


.join-btn__right-svg{
  right: 0;
}

.join-btn__left-svg{
  left: 0;
}

.slider-navs_plans{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;


  opacity: 0;
  @media(max-width: 1700px){
    opacity: 1;
  }

}

.request-s{
  padding: 100px 100px 275px;
  position: relative;
  z-index: 2;

  @media (max-width: 1366px){
    padding: 100px 65px 275px;
  }

  @media (max-width: 1024px){
    padding: 100px 65px 75px;
  }

  @media (max-width: 768px){
    padding: 60px 30px 75px;
  }

  @media (max-width: 480px){
    padding: 30px 20px 75px;
  }
}
.request-s__text-block{
  min-width: 260px;
}
.request-s__inner{
  display: flex;
  justify-content: space-between;

  @media (max-width: 680px){
    flex-direction: column;
  }
}

.request-s__subtitle{  
  font-weight: 600;
  font-size: 14px;
  line-height: 3.43;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #8CFB35;

  @media (max-width: 1024px){
    margin-top: 20px;
    font-size: 12px;
  }
  @media (max-width: 480px){
    margin-top: 5px;
  }
}

.form-row{
  width: 100%;
  display: flex;
}
.form-row_space-between{
  justify-content: space-between;

  @media (max-width: 480px){
    flex-direction: column;

    .input-wrap{
      &:last-of-type{
        margin-top: 8px;
      }
    }
  }
}


.page-form{
  width: 100%;


  @media (max-width: 1024px){
    margin-top: -8px;
    
  }
}
.form-row{
  width: 100%;
  margin-top: 8px;
}
.input-wrap{
  width: 100%;
}
.input-wrap_half{
  width: 48.5%;

  @media (max-width: 480px){
    width: 100%;
  }
}
.request-s__form-block{
  width: 35vw;
  margin-left: 100px;

  @media(max-width: 1024px){
    margin-left: 20px;
    min-width: 360px;
  }
  @media(max-width: 680px){
    width: 100%;
    min-width: 100%;
    margin-left: 0;
  }
}

.page-form__input-text{
  width: 100%;

  background-color: transparent;

  border: 0;
  border-bottom: 1px solid #fff;
  outline: none;
  height: 60px;

  font-family: $font-family;

  font-weight: 600;
  font-size: 14px;
  line-height: 18px;


  text-transform: uppercase;

  color: #FFFFFF;

  @media (max-width: 1024px){
    font-size: 12px;
  }
  @media (max-width: 480px){
    height: 50px;
  }

  &::placeholder{
    text-transform: uppercase;
    opacity: 1;
  }
}
.form-row_btn{
  margin-top: 90px;

  @media (max-width: 1024px){
    margin-top: 30px;
  }
}
.page-form__send, .modal-form__send{
  background: #8CFB35;
  border-radius: 100px;
  width: 100%;
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  height: 56px;
  color: #22033A;
  border: none;
  cursor: pointer;
  transition: .5s;

  &:hover{
    background-color: #F72283;
    color: #fff;
  }

  @media (max-width: 1024px){
    height: 40px;
    font-size: 12px;
  }

}

.modal-form__send{
  background: #F72283;
  color: #fff;
  transition: .5s;

  &:hover{
    background: #8CFB35;
  color: #3A2050;
  }
}


.form-row_cb{
  margin-top: 20px;
}

.footer{
  
  padding: 0 100px;
  
  margin-bottom: 110px;
  position: relative;

  @media (max-width: 1366px){
    margin-bottom: 0px;
    padding: 0 65px;
  }
  @media (max-width: 1366px){
    padding: 0 30px;
  }
}

.footer__inner{
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #fff;
  display: flex;
  position: relative;
  z-index: 2;
}


.footer__text{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  text-transform: uppercase;

  color: #FFFFFF;
  
}
.footer-img{
  position: absolute;
  left: 0;
  bottom: -110px;
  z-index: 1;

  @media (max-width: 1366px){
    width: 510px;
    bottom: -35px;
  }
  @media (max-width: 1024px){
    width: 356px;
    bottom: -38px;
  }
  @media (max-width: 400px){
    width: 100%;
  }
}

.modal{
  background-color: #fff;
  max-width: 855px;
  width: 90%;

  padding: 85px 75px 100px 105px;


  @media (max-width: 1024px){
    max-width: 640px;
    padding: 80px 75px 70px 70px;
  }

  @media (max-width: 480px){
    padding: 15px 20px 30px 20px;
  }
}
.modal__header{
  display: flex;

  @media (max-width: 480px){
    flex-direction: column;
  }
}
.modal__title{

  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #F72283;

  @media (max-width: 1024px){
    font-size: 22px;
  }
  @media (max-width: 480px){
    font-size: 18px;
  }
}
.modal__close-block{
  @media (max-width: 480px){
    display: flex;
    justify-content: flex-end;
    order: 1;
  }
}
.modal__title-block{
  flex-grow: 1;

  @media (max-width: 480px){
    order: 2;
  }
}
.modal__subtitle{
  
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 3.43;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #521483;

  @media (max-width: 1024px){
    font-size: 12px;
  }
}

.modal-form__input{
  width: 100%;
}

.modal-form__input, textarea{
  border: 0;
  border-bottom: 1px solid #000;
  height: 60px;

  font-family: $font-family;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  &::placeholder{
    text-transform: uppercase;
    opacity: 1;
  }
  color: #343434;
  outline: none;

  @media (max-width: 1024px){
    height: 50px;
    font-size: 12px;
  }

}

.textarea{
  height: 60px;
  width: 100%;
  padding: 15px 0;
}

.close-btn{
  cursor: pointer;
}

.modal-entry{
  display: none;
}

.close-btn-wrap{
  width: 40px;
  height: 40px;
}

.modal-question{
  display: none;
}

.modal-menu{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background:     #22033A;
  z-index: 999;

  
}

.modal-menu{
  padding: 60px 70px 0;
  display: none;
  @media (max-width: 1024px){
    padding: 40px 30px 0;
  }
  @media (max-width: 992px){
   flex-direction: column; 
  }

  @media (max-width: 480px){
    padding: 20px 20px 0;
  }
}

.modal-menu__left-col{
  width: 255px;
  margin-right: 100px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;

  @media (max-width: 992px){
    padding-bottom: 0px;
    margin-right: 0px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.modal-menu__right-col{
  width: 56.25%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #521483 #e0e0e0;

  @media (max-width: 1366px){
    width: 70.6%;
  }

  @media (max-width: 992px){
    width: 100%;
    margin-top: 25px;
  }
}

.modal-menu__logo{
  text-align: center;

  img{
    @media(max-width: 1024px){
      
      width: 148px;
      height: 81px;
    }
    @media(max-width: 480px){
      width: 110px;
      height: 60px;
    }
  }

  @media (max-width: 992px){
    width: 33.33%;
    text-align: left;
  }
}

.modal-menu__close{
  text-align: center;

  @media (max-width: 992px){
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg{
    cursor: pointer;
  }
  
}




.platform-list_modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 992px){
    display: none;
  }
  

  a{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    align-items: flex-end;
    text-align: center;

    @media (max-width: 1024px){
      font-size: 16px;
    }
  }
  height: auto;
  a{
    color: #fff;

    transition: .5s;

    
  }

  li{
    &:hover{
      &:hover{
        &:nth-of-type(1){
          a{
            color: #F72283;
          }
          
        }
        &:nth-of-type(2){
          a{
            color: #7083FF;
          }
          
        }
  
        &:nth-of-type(3){
          a{
            color: #FB9646;
          }
          
        }
  
        &:nth-of-type(4){
          a{
            color: #84D345;
          }
          
        }
  
        &:nth-of-type(5){
          a{
            color: #FF4E4E;
          }
          
        }
      }
    }
  }
  
}

.join-btn_modal{
  color: #fff;
  margin: 0 auto;

  @media (max-width: 992px){
    margin: 0;
  }
}

.join-btn_modal--wrap{
  display: flex;
  justify-content: center;

  @media (max-width: 992px){
      width: 33.33%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

  }
}

.social-gr_modal{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  

  a{
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ffffff;

    &:last-of-type{
      border-right: 1px solid #ffffff;
    }
  }


}

.site-menu__item{
  height: 160px;
  display: flex;
  align-items: center;

  transition: .5s;
  border-top: 1px solid #FFFFFF;

  &:last-of-type{
    border-bottom: 1px solid #FFFFFF;;
  }
  &:hover{
    background: #5f159b;;
  }

  @media (max-width: 1024px){
    height: 115px;
  }
  @media (max-width: 480px){
    height: 75px;
  }
}

.site-menu__num{
  font-weight: 600;
  font-size: 12px;
  color: #fff;
}

.site-menu__link{
  color: #fff;
  font-size: 48px;
  flex-grow: 1;
  text-align: center;

  @media (max-width: 1024px){
    font-size: 32px;
  }

  @media (max-width: 480px){
    font-size: 14px;
  }
}

.courses-list{
  margin-top: 125px;
  margin-bottom: 150px;

  @media (max-width: 768px){
    margin-top: 60px;
    margin-bottom: 70px;
  }
  @media (max-width: 480px){
    margin-top: 40px;
    margin-bottom: 60px;
  }
}

.courses-list__title{
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;

  /* or 131% */
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #FFFFFF;

  @media (max-width: 992px){
    font-size: 22px;
  }
  @media (max-width: 768px){
    font-size: 18px;
  }
  @media (max-width: 480px){
    font-size: 12px;
  }
}

.courses-list__list{
  display: flex;
  justify-content: center;
  margin-top: 30px;

  flex-wrap: wrap;
}

.courses-list__item{
  padding: 0 25px;
  border-right: 2px solid #fff;

  @media (max-width: 480px){
    padding: 0 10px;
    border-right: 1px solid #fff;
  }
  &:last-of-type{
    border-right: 0;
  }
  margin: 5px 0;
  transition: .5s;

  &:hover{
    &:nth-of-type(1){
      a{
        color: #F72283;
      }
      
    }
    &:nth-of-type(2){
      a{
        color: #7083FF;
      }
      
    }

    &:nth-of-type(3){
      a{
        color: #FB9646;
      }
      
    }

    &:nth-of-type(4){
      a{
        color: #84D345;
      }
      
    }

    &:nth-of-type(5){
      a{
        color: #FF4E4E;
      }
      
    }
  
  }
}

.courses-list__link{
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  
  /* or 160% */
  text-align: center;

  color: #FFFFFF;

  @media (max-width: 1024px){
    font-size: 14px;
  }
  @media (max-width: 480px){
    font-size: 12px;
    line-height: 1;
  }
}